.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 51px;
  padding: 41px 71px;

  @media screen and (max-width: 1500px) {
    padding: 30px 40px;
    gap: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: auto;
    padding: 15px 20px;
  }
}