.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 306px;
  padding: 36px 28px 76px 28px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 60px 0px #E2ECF980;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.sidebar-footer {
  display: flex;
  align-items: center;
  gap: 12px;

  &__description {
    font-size: 12px;
    color: #757575;
    font-weight: 400;
  }
}

.menu {
  display: none;
}

@media screen and (max-width: 1500px) {
  .sidebar {
   padding: 25px 20px 40px 20px;

    &__block {
      gap: 20px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 15px 15px;
  }

  .menu {
    display: block;
  }
}

@media screen and (max-width: 470px) {
  .sidebar-footer {
    display: none;
  }
}